<div class="container">
  <div class="header">
  <h3 class="text-info">Manage Users</h3>
  </div>
<div class="row">
<div class="col-sm-6">
<div class="myclass">
<div class="card">
  <h3 class="text-info">Add Users</h3>
  <form #userForm ="ngForm" (ngSubmit)="onAddUser(userForm.value)"> 

    <input type="text"  name="name" ngModel placeholder=" Enter User Name.." required><br>
    <input type="text"  name="technology" ngModel placeholder="Enter Technology.." required><br>

    <button type="submit"  class="btn btn-info">{{updateMode? 'Update User' : 'Add Users'}}</button>
    <button type="submit" class="btn btn-warning">Fetch User</button>   

  </form>
</div>
</div>
</div>


<div class="col-sm-6">

<div class="card1">
  <h3 class="text-info">Ux Users</h3>
<table  class="table table-bordered">
  <tr>
    <th>User</th>
    <th>Technology</th>
    <th>Action</th>
    
  </tr>
  <tr *ngFor="let myusers of myuser;index as i">

    <td>{{myusers.name}}</td>
    <td>{{myusers.technology}}</td>
<div>
  <button (click)="onUpdateUsers(myusers.userId,i)" >Update</button>
    <button (click)="onDeleteUser(myusers.userId)" >Delete</button>
  </div>
</tr>

  
</table>
</div>
</div>
</div>

</div>